* {
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
}

html, body {
    padding:0; 
    margin:0; 
    height:100%;
}

body {
    /* background-color: var(--back); */
    min-height: calc(100vh - 100px);
    min-width: calc(100vw - 100px);
    letter-spacing: 0.8px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin: 0
}

header {
    display: grid;
    grid-row: 1;
    height: 15vh;
    background-color: rgb(245, 245, 186);
    grid-template-rows: 1fr 30px;
}


header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(99, 99, 32);
    float: right;
    text-align: center;
    border-radius: 5px;
}
 
header li a {
    display: flex;
    color: white;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

  
header li a:hover {
    background-color: #493d3d;
}

header img {
    grid-row: 1;
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 40px;
}

nav {
    padding: 20px 10px 0 0 ;
    margin-right: 1%;
    grid-row: 1;   
}

#banner {
    display: grid;
    grid-row: 2;
    grid-column: span 2;
    background-color: rgb(238, 238, 205);
    

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    height: 60vh;
    width: 50vw;
    border: 2px solid rgba(255, 10, 10, 0.186);
    border-radius: 5px;
    padding: 0;   
    margin-left: 23%;
}

.container h2 {
    display: grid;
    grid-column: 1 / span 2;
    text-align: center;
}

.container h3 {
    text-align: center;
}

.container div {
    padding: 10px 0 0 30px;
}

input {
    padding: 5px;
}

button {
    color: white;
    background-color: rgb(99, 99, 32);
    text-align: center;
    border-radius: 5px;
    position: relative;
    left: 35%;
    padding: 5px;
}

button:hover {
    background-color: #493d3d;
    cursor: pointer;
}

textarea {
    width: 80%;
    padding: 10px;
}

footer{
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0;
    background-color: beige;
    margin: 0;
    padding: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RESPONSIVE DESIGNS */

/* Small Devices */
@media only screen and (max-width: 480px){
    main {
        display: grid;
        grid-row: 2;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 1fr 1fr 1fr;
    }
}


/* Medium Devices */
@media only screen and (min-width: 481px) and (max-width: 768px){
    main {
        display: grid;
        grid-row: 2;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr;
    }

}